<h2>Cadastro - Template-Driven</h2>

<form #formulario="ngForm" (ngSubmit)="aoEnviar()" novalidate>
  <label>
    Nome:
    <input name="nome" [(ngModel)]="usuario.nome" required minlength="3" #nome="ngModel" />
    <div *ngIf="nome.invalid && nome.touched">
      <small *ngIf="nome.errors?.['required']">Nome é obrigatório.</small>
      <small *ngIf="nome.errors?.['minlength']">Mínimo de 3 caracteres.</small>
    </div>
  </label>

  <label>
    Email:
    <input name="email" type="email" [(ngModel)]="usuario.email" required #email="ngModel" />
    <div *ngIf="email.invalid && email.touched">
      <small *ngIf="email.errors?.['required']">Email é obrigatório.</small>
      <small *ngIf="email.errors?.['email']">Formato inválido.</small>
    </div>
  </label>

  <label>
    Tipo de conta:
    <select name="tipoConta" [(ngModel)]="usuario.tipoConta" required #tipoConta="ngModel">
      <option value="">Selecione</option>
      <option value="comum">Comum</option>
      <option value="admin">Admin</option>
    </select>
    <div *ngIf="tipoConta.invalid && tipoConta.touched">
      <small>Tipo de conta é obrigatório.</small>
    </div>
  </label>

  <label>
    Data de nascimento:
    <input name="dataNascimento" type="date" [(ngModel)]="usuario.dataNascimento" required #dataNascimento="ngModel" />
    <div *ngIf="dataNascimento.invalid && dataNascimento.touched">
      <small>Data de nascimento é obrigatória.</small>
    </div>
  </label>

  <label class="checkbox-label">
    <input name="receberNewsletter" type="checkbox" [(ngModel)]="usuario.receberNewsletter" />
    <span>Deseja receber nossa newsletter?</span>
  </label>
  

  <button type="submit" [disabled]="formulario.invalid">Enviar</button>
</form>
